.source-element-diametr input {
  margin-left: 5px;
}

.source-element-length span {
  margin-left: 5px;
  color: red;
}

.source-element-section img {
  padding: 1em;
  margin: 1em;
  width: 110px;
}
